body {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.header {
  background-color: #e4f6fb;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__first-block {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 150px;
  border-radius: 10%;
}
.header__title {
  margin-left: 20px;
}
.header__title-name {
  font-size: 26px;
  font-weight: bold;
}
.header__title-proffession {
  font-size: 18px;
  color: #1c8eb5;
}
.header__title-desc {
  max-width: 320px;
}
.header__info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.header__info-title {
  color: #1c8eb5;
  margin-bottom: 2px;
}
.header__info-text {
  color: #000;
  font-weight: bold;
  margin-bottom: 2px;
}

/* SECTION SKILLS */

.section-skills__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
  color: #1c8eb5;
}
.section-skills__info {
}
.section-skills__info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #e4f6fb;
  padding: 30px;
  border-radius: 10px;
}
.section-skills__info-img {
  width: 80px;
  margin-right: 20px;
}
.section-skills__info-text {
  color: #1c8eb5;
  font-size: 22px;
  font-weight: bold;
}
